@charset "utf-8";

/* WA_CL_ES_200 */
.WA_CL_ES_200 .section-01 ul{position: relative;list-style: none;}
.WA_CL_ES_200 .section-01 ul>li{display: block;width:100%;height:6.2rem;border-bottom:0.1rem solid #eee;}
.WA_CL_ES_200 .section-01 ul>li:last-child{border-bottom:0}
.WA_CL_ES_200 .section-01 ul>li>a{display: flex;width:100%;height:100%;align-items:center;}
.WA_CL_ES_200 .section-01 ul>li>a>span:first-child>img{width:3rem;height:3rem;vertical-align: middle;}
.WA_CL_ES_200 .section-01 ul>li>a>span:last-child{margin-left:1.6rem;}

/* WA_CL_ES_201 */
.WA_CL_ES_201 .section-01 ul{position: relative;list-style: none;}
.WA_CL_ES_201 .section-01 ul>li{display: block;width:100%;height:6.2rem;border-bottom:0.1rem solid #eee;}
.WA_CL_ES_201 .section-01 ul>li:last-child{border-bottom:0}
.WA_CL_ES_201 .section-01 ul>li>a{display: flex;width:100%;height:100%;align-items:center;}
.WA_CL_ES_201 .section-01 ul>li>a>span:first-child>img{width:4rem;height:4rem;vertical-align: middle;}
.WA_CL_ES_201 .section-01 ul>li>a>span:last-child{margin-left:1.6rem;}

/* WA_CL_ES_202 */
.WA_CL_ES_202 .section-01 ul{position: relative;list-style: none;}
.WA_CL_ES_202 .section-01 ul>li{display: block;width:100%;height:6.2rem;border-bottom:0.1rem solid #eee;}
.WA_CL_ES_202 .section-01 ul>li:last-child{border-bottom:0}
.WA_CL_ES_202 .section-01 ul>li>a{display: flex;width:100%;height:100%;align-items:center;}
.WA_CL_ES_202 .section-01 ul>li>a>span:last-child{margin-left:1.6rem;}

/* WA_CL_CR_0010 */
.WA_CL_CR_0010 .title-medium{margin-top:2rem;text-align: center;}
.WA_CL_CR_0010 .box-car-info{margin-top:8.8rem;}

/* WA_CL_CR_0020 */
.WA_CL_CR_0020 .form-wrap + .form-wrap{margin-top:3.2rem;}
.WA_CL_CR_0020 .agree-list{margin-top:3.2rem;}
.WA_CL_CR_0020 .box-gray{margin-top:3.2rem;}

/* WA_CL_CR_0200 */
.WA_CL_CR_0200 .section-01{position: relative;}
.WA_CL_CR_0200 .box-gray-full{margin-top:3.2rem;}
.WA_CL_CR_0200 .list-bullet.small ul li{font-size:1.4rem;}
.WA_CL_CR_0200 .form-list{margin-top:3.2rem;}
.WA_CL_CR_0200 .form-list .form-wrap + .form-wrap{margin-top:3.2rem;}
.WA_CL_CR_0200 .btn-area.content{display:block;margin-top:4.8rem;text-align:center;}
.WA_CL_CR_0200 .btn-area.content .btn-text.link{margin-top:2rem;}
.WA_CL_CR_0200 .link-area{margin-top:1.6rem;text-align: center;}

/* WA_CL_CR_0260 */
.WA_CL_CR_0260 .section-01{position: relative;}
.WA_CL_CR_0260 .box-gray-full{margin-top:3.2rem;}
.WA_CL_CR_0260 .section-01{position: relative;}
.WA_CL_CR_0260 .form-list{margin-top:3.2rem;}
.WA_CL_CR_0260 .form-list .form-wrap + .form-wrap{margin-top:3.2rem;}

/* WA_CL_CR_0270 */
.WA_CL_CR_0270 .section-01{position: relative;margin-top:2.4rem;}
.WA_CL_CR_0270 .section-01 .text-field{margin-top:0.8rem;color:#888b8d;}
.WA_CL_CR_0270 .section-01 .text-caption{color:#888b8d;}
.WA_CL_CR_0270 .section-01 .list-number{margin-top:-0.8rem;}

/* A_CL_MA_0020 */
.A_CL_MA_0020.popup-modal-content.slide .popup-modal-body{height:100% !important;}
.A_CL_MA_0020 .section-01 .text-01{padding:1.6rem; padding-bottom:0; text-align:center;}
.A_CL_MA_0020 .section-01 .text-01>p{word-break: keep-all;color:#53565a;font-size:1.6rem;}
.A_CL_MA_0020 .section-01 .text-01>p>strong{position:relative;color:#53565a;}
.A_CL_MA_0020 .section-01 .text-01>p>strong:after{position: absolute;bottom: 0.4rem;left: 0;content: '';display: block;width: 100%;height: 0.6rem;background-color: #ffcc33;opacity: 30%;}
.A_CL_MA_0020 .section-01 .text-02{margin-top:1.6rem;}
.A_CL_MA_0020 .section-01 .form-check-area{margin:3.2rem 0 1.6rem;}


/* A_CL_LO_0089 */
.A_CL_LO_0089 .title-big{margin-bottom:3.2rem;}
.A_CL_LO_0089 .txt-icon{margin-top:0.8rem;}

/* A_CL_SP_0010 */
.A_CL_SP_0010 {position: fixed;display:flex;top:0;left:0;width:100%;height:100vh;z-index: 1001;align-items: center;background-color: #ffcc33;}
.A_CL_SP_0010 .content-body{margin:0 auto;text-align: center;}
.A_CL_SP_0010 h3{font-size: 3.4rem;font-family: 'RenaultSamsungMotors';font-weight: bold;color:#000;line-height: 3.3rem;}
.A_CL_SP_0010 p{font-size: 1.4rem;font-family: 'RenaultSamsungMotors';font-weight: 400;color:#222;line-height: 3.3rem;}

/* WA_CL_MY_0030 */

/* WA_CL_MY_0031 */
.WA_CL_MY_0031 .comment-area{margin-top:1.6rem;}
.WA_CL_MY_0031 .title-small{margin-bottom:1.6rem;}
.WA_CL_MY_0031 .section-01 .type-between + .title-small {margin-top: 2.4rem;padding-top: 2.4rem;border-top: 1px solid #eee;}

/* A_CL_MY_0040 */
.A_CL_MY_0040 .comment-area{margin-top:1.6rem;}
.A_CL_MY_0040 .section-02 .type-between + .title-small {margin-top: 2.4rem;padding-top: 2.4rem;border-top: 1px solid #eee;}
.A_CL_MY_0040 .type-between li div.txt-wrap .txt span{font-weight: bold;}
.A_CL_MY_0040 .type-between li div.txt-wrap .txt span + span{margin-left:0.8rem;}

/* A_CL_MY_0060 */
.A_CL_MY_0060 ul.card-link.no-image li.card-link-list .card-link-explain .img-txt-wrap .price-wrap span{color: #888b8d;border: 1px solid #888b8d;}

/* WA_CL_CU_0080 */
.WA_CL_CU_0080 .text-field{font-weight:700; color:#53565a;}
.WA_CL_CU_0080 .list-bullet ul li{font-size:1.4rem;}


/* W_OD_TE_0010 */
.W_OD_TE_0010 .link-status-list ul li a:after{top:50%;transform:translateY(-50%)}
.W_OD_TE_0010 .link-status-list ul li a{padding-right:4.4rem;}

/* CL_CU_0090 */
.WA_CL_CU_0090 .text-field{font-weight:700; color:#53565a;}
.WA_CL_CU_0090 .list-bullet ul{margin-top:0.8rem;}
.WA_CL_CU_0090 .list-bullet ul li{font-size:1.4rem;}

/* CL_CU_0100 */
.WA_CL_CU_0100 .text-field{font-weight:700; color:#53565a;}
.WA_CL_CU_0100 .list-bullet ul{margin-top:0.8rem;}
.WA_CL_CU_0100 .list-bullet ul li{font-size:1.4rem;}

/* CL_CU_0110 */
.WA_CL_CU_0110 .text-field{font-weight:700; color:#53565a;}
.WA_CL_CU_0110 .list-bullet ul{margin-top:0.8rem;}
.WA_CL_CU_0110 .list-bullet ul li{font-size:1.4rem;}

/* WA_CL_CR_0130 */
.WA_CL_CR_0130 {position:fixed;top:0;left:50%;transform:translateX(-50%);padding-top:10.2rem;width:100vw;height:100vh;max-width:768px;z-index:5000;background-color:#fff;}
.WA_CL_CR_0130 .complete-box{padding-bottom:2.8rem;}
.WA_CL_CR_0130 .complete-box .tit{color:#fff;}

/* WA_CL_CR_0220 */
.WA_CL_CR_0220 {position:fixed;top:0;left:50%;transform:translateX(-50%);padding-top:10.2rem;width:100vw;height:100vh;max-width:768px;z-index:5000;background-color:#fff;}
.WA_CL_CR_0220 .complete-box{padding-bottom:2.8rem;}
.WA_CL_CR_0220 .complete-box .tit{color:#fff;}

/* A_CL_LO_0051 */
.A_CL_LO_0051 {position:fixed;top:0;left:50%;transform:translateX(-50%);padding-top:10.2rem;width:100vw;height:100vh;max-width:768px;z-index:5000;}
.A_CL_LO_0051 .complete-box{padding-bottom:2.8rem;}
.A_CL_LO_0051 .complete-box .tit{color:#fff;}

/* A_CL_LO_0078 */
.A_CL_LO_0078 {position:fixed;top:0;left:50%;transform:translateX(-50%);padding-top:10.2rem;width:100vw;height:100vh;max-width:768px;z-index:5000;}
.A_CL_LO_0078 .complete-box{padding-bottom:2.8rem;}
.A_CL_LO_0078 .complete-box .tit{color:#fff;}

/* A_CL_LO_0151 */
.A_CL_LO_0151 .section-01{position: relative;}
.A_CL_LO_0151 .section-01 .title-medium{margin-top:2.4rem;}
.A_CL_LO_0151 .box-gray-full{margin-top:3.2rem;}
.A_CL_LO_0151 .list-bullet.small ul li{font-size:1.4rem;}
.A_CL_LO_0151 .txt-info{margin-top:0.8rem;}
.A_CL_LO_0151 .form-list{margin-top:3.2rem;}
.A_CL_LO_0151 .form-list .form-wrap + .form-wrap{margin-top:3.2rem;}
.A_CL_LO_0151 .btn-area.content{display:block;margin-top:4.8rem;text-align:center;}
.A_CL_LO_0151 .btn-area.content .btn-text.link{margin-top:2rem;}
.A_CL_LO_0151 .link-area{margin-top:1.6rem;text-align: center;}

/* .A_CL_LO_0153 */
.A_CL_LO_0153 .box-gray-full > *{line-height:2.2rem; font-size:1.4rem; color:#888b8d; }
.A_CL_LO_0153 .box-gray-full > p{margin-top:0.8rem;}
.A_CL_LO_0153 .comp-wrap{padding:1.6rem 0;}
.A_CL_LO_0153 .comp-wrap h4.title-small{line-height:2.6rem; color:#53565a; font-weight:700;}
.A_CL_LO_0153 .comp-wrap h5.tit{margin-top:1.6rem; line-height:2.2rem; color:#888b8d; font-weight:700;}
.A_CL_LO_0153 .comp-wrap .txt{margin-top:0.8rem; line-height:2.2rem; color:#888b8d;}
.A_CL_LO_0153 .comp-wrap .list-bullet{margin-top:0.8rem;}
.A_CL_LO_0153 .comp-wrap .list-bullet ul li{line-height:2.2rem;}
.A_CL_LO_0153 .comp-wrap .last-txt{margin-top:1.6rem; font-weight:700;}

/* A_CL_LO_0160 */
.A_CL_LO_0160 .section-01 .text-01 p{margin:2rem 0;text-align:center;}