@charset "utf-8";
/* templete_psh */
.template-psh-wrap > li {padding: 2rem 1.6rem; outline: 2px solid green;}
/* 고객센터 반복 연습 */
.template-psh-wrap .loans-img-box {margin: -1.6rem -1.6rem 0; padding: 3.2rem 11.2rem 3.2rem 1.6rem;}
.template-psh-wrap .title-02 {line-height: 2.6rem; margin-bottom: 0.8rem;}
.template-psh-wrap .title-small.loans-img-box .text {color: #222; margin: 0;}
.template-psh-wrap .title-small.loans-img-box .text strong {font-weight: 700;}
.template-psh-wrap .text-field {line-height: 2.6rem; margin-top: 1.6rem;}

.template-psh-wrap .title {text-align: center;}
.template-psh-wrap .title-01 {font-size: 3.4rem;line-height: 3.3rem;font-weight: 700;}
.template-psh-wrap .text-body {line-height: 3.3rem;color: #bbbcbc;font-weight: 400;}
.template-psh-wrap .btn-area {display: block;}
.template-psh-wrap .btn-area button {position: relative; margin-bottom: 1rem; font-size: 1.4rem; font-family: 'NotoSansKR';font-weight:500; padding: 1.2rem 1.6rem; line-height: 2.2rem; height: 5.6rem;}
.template-psh-wrap .btn-area.content {margin: 0; text-align: center;}

.template-psh-wrap .terms .title-sub2 {font-weight: 700; color: #53565a;}
.template-psh-wrap .terms .list-caption {font-size: 1.4rem; line-height: 2.2rem;}
.template-psh-wrap .terms .list-caption.title-sub3 {font-weight: 700;}
.template-psh-wrap .form-comp-wrap .title-small {margin-top: 2.4rem;}
.template-psh-wrap .form-comp-wrap ul.form-info-wrap li {border: 1px solid #ddd;}
.template-psh-wrap .form-comp-wrap ul.form-info-wrap li.alert {border:1px solid #d32f2f;}

.template-psh-wrap .form-wrap.password-box {padding:0 1.6rem; border: 1px solid #d32f2f; background-color: rgba(211, 47, 47, 0.1);}
.template-psh-wrap .form-wrap.password-box label span {margin:2rem 0 0 0.4rem; width: 0.8rem; height: 0.8rem; background-color: #53565a;}
.template-psh-wrap .form-wrap.password-box label {width: 100%; text-align: left; height: 4.6rem;}

.template-psh-wrap.card-link li.card-link-list .card-link-explain .img-txt-wrap .date span {position: relative;}
.template-psh-wrap.card-link li.card-link-list .card-link-explain .img-txt-wrap .date span::before {position: absolute;top: 50%;left: 0;margin-top: -0.4rem;content: '';display: block;width: 1px;height: 0.8rem;background: #888b8d;}

/* 아코디언 */
.template-psh-wrap .accordion .btn { border-top: 0;border-left: 0;border-right: 0; border-bottom: 1px solid #ddd;}
.template-psh-wrap .accordion .detail-box {border-bottom: 1px solid #ddd; background-color: transparent;}
.template-psh-wrap .accordion .detail-box ul li {margin-bottom: 2rem;}
.template-psh-wrap .accordion .detail-box ul li:last-child {margin: 0;}
.template-psh-wrap .accordion .btn .tit { font-weight: 500; color: #53565a;}
.template-psh-wrap .form-radio .text { font-weight: 400; font-family: 'NotoSansKR';}
.template-psh-wrap .ui-state-default {border: 0;}
/* contract-box */
.template-psh-wrap .contract-box {display: flex; background-color: #faf9f8;}
.template-psh-wrap .contract-box li {position: relative; text-align: center; width:calc(100% / 3); height: 7.2rem; padding: 1.2rem 0;}
.template-psh-wrap .contract-box li::after {content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 0.1rem; height: 1.6rem; background-color: #ddd;}
.template-psh-wrap .contract-box li:last-child::after {display: none;}
.template-psh-wrap .contract-box li span:nth-child(2) {display: block;}
.template-psh-wrap .contract-box li .list-caption {line-height: 2.4rem;}
.template-psh-wrap .contract-box li .title-small {font-size: 2.4rem;}

/* car-list-info */
.template-psh-wrap .car-list-info li { padding: 1.6rem 0 2.6rem; border-bottom: 1px solid #eee;}
.template-psh-wrap .car-list-info li a {display: flex; position: relative;}
.template-psh-wrap .car-list-info li a::after {position: absolute; right: 0; top: 0; content: ''; display: block; width: 2.4rem; height: 2.4rem; background: url(../images/common/icon_agree_arrow.png)no-repeat; background-size: 100%;}
.template-psh-wrap .car-list-info li a .img-box { width: 12rem; height: 7rem;}
.template-psh-wrap .car-list-info li a .img-box img {width: 100%;}
.template-psh-wrap .car-list-info li a .car-txt {padding-left: 2.8rem;}
.template-psh-wrap .car-list-info li a .car-txt .txt-info strong { font-family: 'RenaultSamsungMotors'; font-size: 1.6rem; font-weight: 700; line-height: 2.2rem; color: #53565a; }
.template-psh-wrap .car-list-info li a .car-txt .txt-info span {position: relative;margin-left: 0.8rem; padding-left: 0.8rem; font-family: 'NotoSansCJKkr'; font-size: 1.2rem; font-weight: 400; line-height: 2.4rem; color: #888b8d;}
.template-psh-wrap .car-list-info li a .car-txt .txt-info span::before {position: absolute; top: 50%; left: 0; margin-top: -0.4rem; content: ''; display: inline-block; width: 0.1rem; height: 0.8rem; background-color: #bbbcbc;}
.template-psh-wrap .car-list-info li a .car-txt .txt-episode {margin-top: 0.8rem;}
.template-psh-wrap .car-list-info li a .car-txt .txt-episode .txt-color {display: inline-block; padding: 0 1.6rem; border: 1px solid #007396; font-family: 'NotoSansCJKkr'; color: #007396; font-size: 1.1rem; line-height: 2rem;}
.template-psh-wrap .car-list-info li a .car-txt .txt-episode .txt-gray {padding-left: 0.8rem; font-family: 'NotoSansCJKkr'; font-size: 1.2rem; line-height: 2.4rem; color: #bbbcbc;}

/* list-boxs */
.template-psh-wrap .list-boxs {display: flex; flex-wrap: wrap;}
.template-psh-wrap .list-boxs li { width: 50%; }
.template-psh-wrap .list-boxs li a {position: relative;display: block;padding: 1.3rem 0;padding-left: 4.8rem;width: 100%;height: 100%;color: #222;font-weight: 500;}
.template-psh-wrap .list-boxs li a::before {position: absolute;content: ''; display: inline-block; left: 0.8rem; top: 50%; transform: translateY(-50%); background: url(../images/common/list_step_pack.png)no-repeat 0 0; background-size:100%;width: 2.4rem; height: 2.4rem;}
.template-psh-wrap .list-boxs li.list-1 a::before {background-position: 0 0;}
.template-psh-wrap .list-boxs li.list-2 a::before {background-position: 0 -2.5rem;}
.template-psh-wrap .list-boxs li.list-3 a::before {background-position: 0 -4.8rem;}
.template-psh-wrap .list-boxs li.list-4 a::before {background-position: 0 -7.3rem;}
.template-psh-wrap .list-boxs li.list-5 a::before {background-position: 0 -10rem;}

/* episode */
.template-psh-wrap .episode {padding: 1.6rem 0 1rem 0;border-bottom: 1px solid #eee;}
.template-psh-wrap .episode h3 {font-size: 1.6rem; line-height: 2.2rem; color: #53565a; font-weight: 700;}
.template-psh-wrap .episode ul {margin: 1rem 0;}
.template-psh-wrap .episode ul li {display: flex; margin-bottom: 0.8rem;}
.template-psh-wrap .episode ul li > div {width: 50%;}
.template-psh-wrap .episode ul li .tit-wrap {font-size: 1.4rem; line-height: 2.2rem; color: #999; font-weight: 400;}
.template-psh-wrap .episode ul li .txt-wrap {font-size: 1.4rem; line-height: 2.2rem; color: #53565a; font-weight: 700; font-family: 'RenaultSamsungMotors'; text-align: right;}

.line{margin:2.4rem 0;border:1px solid #eee;}

/* WA_CL_CR */
/* A_CL_CR_0340 */
.A_CL_CR_0340 .title-medium span {display: block;}
.A_CL_CR_0340 .section-01 {margin-top: 3.2rem;}
.A_CL_CR_0340 .section-02 {margin-top: 2.4rem;}
.A_CL_CR_0340 .section-03 .txt-icon {margin-top: 0.8rem; letter-spacing: -0.05rem;}
.A_CL_CR_0340 .bg-gray-txt {padding: 1.6rem; margin: 0 -1.6rem; background-color: #faf9f8;}

/* limit-info */
.limit-info {margin: -1.6rem -1.6rem 0; background: #ffcc33 url(../images/common/common_icon_possible.png)no-repeat center 4rem; background-size: 4.8rem;}
.limit-info .limit {text-align: center; padding-top: 10rem;}
.limit-info .limit .title-sub strong {position: relative; z-index: 1;}
.limit-info .limit .title-sub strong::after {position: absolute; bottom: 0.4rem; left: 0; content: ''; display: block; width: 100%; height: 0.4rem; background-color: #ffffff; opacity: 30%;}
.limit-info .box-car-info {background-color: #fff; border: 0;  margin-top: 7.2rem;  border-bottom-left-radius: 0; border-bottom-right-radius: 0;}
.limit-info .box-car-info .name-car-product {height: 100%; background-color: #fff; padding: 4.6rem 0rem 1rem 0rem;}
.limit-info .text-caption {padding: 1.6rem 0; font-size:1.4rem;}
.limit-info .txt-icon {letter-spacing: -0.05rem;}
.limit-info.error {display: block; background-color: #eeeeee; background: #eeeeee url(../images/common/common_icon_impossible.png)no-repeat center 4rem; background-size: 4.8rem;}
.limit-info.error .limit .title-sub strong::after {position: absolute; bottom: 0.4rem; left: 0; content: ''; display: block; width: 100%; height: 0.4rem; background-color: #888b8d; opacity: 30%;}

/* WA_CL_CR_0140 */
.WA_CL_CR_0140 .title-sub{padding-top:1rem;}
.WA_CL_CR_0140 .limit-info .text-caption{padding-top:0.8rem;}
.WA_CL_CR_0140 .box-car-info .title-sub2 {position: relative; display: inline-block; color: #000; font-weight: 400; text-align: center; padding-top: 2.4rem; z-index: 1; }
.WA_CL_CR_0140 .box-car-info .title-sub2::after{position: absolute; bottom: 0; left: 0; content: ''; display: block; width: 100%; height: 0.8rem; background-color: #ffcc33; z-index: -1;}
.WA_CL_CR_0140 .box-car-info .car-info-wrap.small{padding-top:4.8rem;}
.WA_CL_CR_0140 .box-car-info .car-info-list{margin:1.6rem 0; padding:1.6rem 0; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.WA_CL_CR_0140 .txt-info + .txt-info{margin-top:0.4rem;}
.WA_CL_CR_0140 .limit-info .box-car-info{padding:0 1.6rem;}
.WA_CL_CR_0140 .car-listbox li {position: relative; text-align: left; margin-top: 1.6rem; padding: 1.6rem 0.8rem 1.6rem 1.6rem; border: 1px solid #eeeeee;}
.WA_CL_CR_0140 .car-listbox li .car-img {position: absolute; top:5.2rem; right: 0.8rem; width: 16rem; height: 10.4rem;}
.WA_CL_CR_0140 .car-listbox li .car-img img {width: 100%; height: 100%;}
.WA_CL_CR_0140 .car-listbox li .car-list-info .title-medium {color: #53565a; line-height: 2.6rem;}
.WA_CL_CR_0140 .car-listbox li .car-list-info .title-medium strong {font-size: 1.6rem; margin-right: 0.8rem;}
.WA_CL_CR_0140 .car-listbox li .car-list-info .title-medium span {font-size: 1.6rem; font-weight: 400;}
.WA_CL_CR_0140 .car-listbox li .car-list-info .title-sub {margin-top:1rem; font-family: 'RenaultSamsungMotors'; line-height: 2.6rem; font-weight: 700;}
.WA_CL_CR_0140 .car-listbox li .car-list-info .text {font-size: 1rem; line-height: 2rem; color: #888b8d; font-weight: 400;}
.WA_CL_CR_0140 .car-listbox li .car-list-info dl .list-caption {color: #bbbcbc; width: 4.9rem;}
.WA_CL_CR_0140 .car-listbox li .car-list-info dl .text-caption {margin-top:0; color: #888b8d; padding: 0;}
.WA_CL_CR_0140 .car-listbox li .car-list-info .text-caption {margin-top:0.7rem;color: #888b8d; font-size:1.2rem; padding: 0;}
.WA_CL_CR_0140 .car-listbox li .car-list-info .text {display:block;margin-top:-0.1rem;}
.WA_CL_CR_0140 .car-listbox li .car-list-info dl dt,
.WA_CL_CR_0140 .car-listbox li .car-list-info dl dd {display: inline-block;}
.WA_CL_CR_0140 .txt-icon:before {top: 0;}


/* WA_CL_CR_0145 */
.WA_CL_CR_0145 .title-sub{padding-top:1rem;}
.WA_CL_CR_0145 .limit-info .text-caption{padding-top:0.8rem;}
.WA_CL_CR_0145 .box-car-info .title-sub2 {position: relative; display: inline-block; color: #000; font-weight: 400; text-align: center; padding-top: 2.4rem; z-index: 1; }
.WA_CL_CR_0145 .box-car-info .title-sub2::after{position: absolute; bottom: 0; left: 0; content: ''; display: block; width: 100%; height: 0.8rem; background-color: #ffcc33; z-index: -1;}
.WA_CL_CR_0145 .box-car-info .car-info-wrap.small{padding-top:4.8rem;}
.WA_CL_CR_0145 .box-car-info .car-info-list{margin:1.6rem 0; padding:1.6rem 0; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.WA_CL_CR_0145 .txt-info + .txt-info{margin-top:0.4rem;}
.WA_CL_CR_0145 .limit-info .box-car-info{padding:0 1.6rem;}
.WA_CL_CR_0145 .car-listbox li {position: relative; text-align: left; margin-top: 1.6rem; padding: 1.6rem 0.8rem 1.6rem 1.6rem; border: 1px solid #eeeeee;}
.WA_CL_CR_0145 .car-listbox li .car-img {position: absolute; top:5.2rem; right: 0.8rem; width: 16rem; height: 10.4rem;}
.WA_CL_CR_0145 .car-listbox li .car-img img {width: 100%; height: 100%;}
.WA_CL_CR_0145 .car-listbox li .car-list-info .title-medium {color: #53565a; line-height: 2.6rem;}
.WA_CL_CR_0145 .car-listbox li .car-list-info .title-medium strong {font-size: 1.6rem; margin-right: 0.8rem;}
.WA_CL_CR_0145 .car-listbox li .car-list-info .title-medium span {font-size: 1.6rem; font-weight: 400;}
.WA_CL_CR_0145 .car-listbox li .car-list-info .title-sub {margin-top:1rem; font-family: 'RenaultSamsungMotors'; line-height: 2.6rem; font-weight: 700;}
.WA_CL_CR_0145 .car-listbox li .car-list-info .text {font-size: 1rem; line-height: 2rem; color: #888b8d; font-weight: 400;}
.WA_CL_CR_0145 .car-listbox li .car-list-info dl .list-caption {color: #bbbcbc; width: 4.9rem;}
.WA_CL_CR_0145 .car-listbox li .car-list-info dl .text-caption {margin-top:0; color: #888b8d; padding: 0;}
.WA_CL_CR_0145 .car-listbox li .car-list-info .text-caption {margin-top:0.7rem;color: #888b8d; font-size:1.2rem; padding: 0;}
.WA_CL_CR_0145 .car-listbox li .car-list-info .text {display:block;margin-top:-0.1rem;}
.WA_CL_CR_0145 .car-listbox li .car-list-info dl dt,
.WA_CL_CR_0145 .car-listbox li .car-list-info dl dd {display: inline-block;}
.WA_CL_CR_0145 .txt-icon:before {top: 0;}


/* WA_CL_CR_0150 */
.WA_CL_CR_0150 .box-car-info{padding:0 1.6rem;}
.WA_CL_CR_0150 .box-car-info .car-info-wrap.small {padding-top: 4.8rem;}
.WA_CL_CR_0150 .limit-info.error {display: block; background-color: #eeeeee; background: #eeeeee url(../images/common/common_icon_impossible.png)no-repeat center 4rem; background-size: 4.8rem;}
.WA_CL_CR_0150 .limit-info.error .limit .title-sub strong::after {position: absolute; bottom: 0.4rem; left: 0; content: ''; display: block; width: 100%; height: 0.4rem; background-color: #888b8d; opacity: 30%;}
.WA_CL_CR_0150 .title-sub{padding-top:1rem;}
.WA_CL_CR_0150 .limit-info .text-caption{padding-top:0.8rem;}
.WA_CL_CR_0150 .box-car-info .title-sub2 {position: relative; display: inline-block; color: #000; font-weight: 400; text-align: center; padding-top: 2.4rem; z-index: 1; }
.WA_CL_CR_0150 .box-car-info .title-sub2::after{position: absolute; bottom: 0; left: 0; content: ''; display: block; width: 100%; height: 0.8rem; background-color: #ffcc33; z-index: -1;}
.WA_CL_CR_0150 .box-car-info .car-info-wrap.small{padding-top:4.8rem;}
.WA_CL_CR_0150 .box-car-info .car-info-list{margin:1.6rem 0; padding:1.6rem 0; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.WA_CL_CR_0150 .txt-info + .txt-info{margin-top:0.4rem;}
.WA_CL_CR_0150 .limit-info .box-car-info{padding:0 1.6rem;}
.WA_CL_CR_0150 .car-listbox li {position: relative; text-align: left; margin-top: 1.6rem; padding: 1.6rem 0.8rem 1.6rem 1.6rem; border: 1px solid #eeeeee;}
.WA_CL_CR_0150 .car-listbox li .car-img {position: absolute; top:5.2rem; right: 0.8rem; width: 16rem; height: 10.4rem;}
.WA_CL_CR_0150 .car-listbox li .car-img img {width: 100%; height: 100%;}
.WA_CL_CR_0150 .car-listbox li .car-list-info .title-medium {color: #53565a; line-height: 2.6rem;}
.WA_CL_CR_0150 .car-listbox li .car-list-info .title-medium strong {font-size: 1.6rem; margin-right: 0.8rem;}
.WA_CL_CR_0150 .car-listbox li .car-list-info .title-medium span {font-size: 1.6rem; font-weight: 400;}
.WA_CL_CR_0150 .car-listbox li .car-list-info .title-sub {margin-top:1rem; font-family: 'RenaultSamsungMotors'; line-height: 2.6rem; font-weight: 700;}
.WA_CL_CR_0150 .car-listbox li .car-list-info .text {font-size: 1rem; line-height: 2rem; color: #888b8d; font-weight: 400;}
.WA_CL_CR_0150 .car-listbox li .car-list-info dl .list-caption {color: #bbbcbc; width: 4.9rem;}
.WA_CL_CR_0150 .car-listbox li .car-list-info dl .text-caption {margin-top:0; color: #888b8d; padding: 0;}
.WA_CL_CR_0150 .car-listbox li .car-list-info .text-caption {margin-top:0.7rem;color: #888b8d; font-size:1.2rem; padding: 0;}
.WA_CL_CR_0150 .car-listbox li .car-list-info .text {display:block;margin-top:-0.1rem;}
.WA_CL_CR_0150 .car-listbox li .car-list-info dl dt,
.WA_CL_CR_0150 .car-listbox li .car-list-info dl dd {display: inline-block;}
.WA_CL_CR_0150 .txt-icon:before {top: 0;}


/* WA_CL_CR_0151 */
.WA_CL_CR_0140 .section-02 .limit-info .box-car-info{margin-top:7.2rem;}
.WA_CL_CR_0140 .section-02 .limit-info .box-car-info .title-small{padding-top:2.4rem;}
.WA_CL_CR_0140 .section-02 .limit-info .box-car-info .car-info-list{margin-top:0 !important;}
.WA_CL_CR_0140 .section-02 .limit-info .box-car-info .car-info-list + .title-small{margin-top:0;border-top:1px solid #eee;}
.WA_CL_CR_0140 .section-02 .box-car-info .car-info-list {border: 0; padding: 1.2rem 0 2rem; margin: 0;}

/* WA_CL_CR_0155 */
.WA_CL_CR_0155 .title-sub{padding-top:1rem;}
.WA_CL_CR_0155 .limit-info .text-caption{padding-top:0.8rem;}
.WA_CL_CR_0155 .text-caption{line-height:2.2rem;}
.WA_CL_CR_0155 .box-car-info .title-sub2 {position: relative; display: inline-block; color: #000; font-weight: 400; text-align: center; padding-top: 2.4rem; z-index: 1; }
.WA_CL_CR_0155 .box-car-info .title-sub2::after{position: absolute; bottom: 0; left: 0; content: ''; display: block; width: 100%; height: 0.8rem; background-color: #ffcc33; z-index: -1;}
.WA_CL_CR_0155 .box-car-info .car-info-wrap.small{padding-top:4.8rem;}
.WA_CL_CR_0155 .box-car-info .car-info-list{margin:1.6rem 0; padding:1.6rem 0; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.WA_CL_CR_0155 .txt-info + .txt-info{margin-top:0.4rem;}
.WA_CL_CR_0155 .limit-info .box-car-info{padding:0 1.6rem;}
.WA_CL_CR_0155 .car-listbox li {position: relative; text-align: left; margin-top: 1.6rem; padding: 1.6rem 0.8rem 1.6rem 1.6rem; border: 1px solid #eeeeee;}
.WA_CL_CR_0155 .car-listbox li .car-img {position: absolute; top:5.2rem; right: 0.8rem; width: 16rem; height: 10.4rem;}
.WA_CL_CR_0155 .car-listbox li .car-img img {width: 100%; height: 100%;}
.WA_CL_CR_0155 .car-listbox li .car-list-info .title-medium {color: #53565a; line-height: 2.6rem;}
.WA_CL_CR_0155 .car-listbox li .car-list-info .title-medium strong {font-size: 1.6rem; margin-right: 0.8rem;}
.WA_CL_CR_0155 .car-listbox li .car-list-info .title-medium span {font-size: 1.6rem; font-weight: 400;}
.WA_CL_CR_0155 .car-listbox li .car-list-info .title-sub {margin-top:1rem; font-family: 'RenaultSamsungMotors'; line-height: 2.6rem; font-weight: 700;}
.WA_CL_CR_0155 .car-listbox li .car-list-info .text {font-size: 1rem; line-height: 2rem; color: #888b8d; font-weight: 400;}
.WA_CL_CR_0155 .car-listbox li .car-list-info dl .list-caption {color: #bbbcbc; width: 4.9rem;}
.WA_CL_CR_0155 .car-listbox li .car-list-info dl .text-caption {margin-top:0; color: #888b8d; padding: 0;}
.WA_CL_CR_0155 .car-listbox li .car-list-info .text-caption {margin-top:0.7rem;color: #888b8d; font-size:1.2rem; padding: 0;}
.WA_CL_CR_0155 .car-listbox li .car-list-info .text {display:block;margin-top:-0.1rem;}
.WA_CL_CR_0155 .car-listbox li .car-list-info dl dt,
.WA_CL_CR_0155 .car-listbox li .car-list-info dl dd {display: inline-block;}
.WA_CL_CR_0155 .txt-icon:before {top: 0;}

/* WA_CL_CR_0157 */


/* WA_CL_CR_0158 */

/* WA_CL_CR_180 */
.WA_CL_CR_0140 .section-03 .title-medium {text-align: center;}
.WA_CL_CR_0140 .section-03 .box-car-info .car-info-list {margin: 0; border: 0; padding: 1.6rem 1.6rem 7rem 1.6rem;}

.WA_CL_CR_0140 .section-04 .limit-info .box-car-info{margin-top:7.2rem;}
.WA_CL_CR_0140 .section-04 .limit-info .box-car-info .title-small{padding-top:2.4rem;}
.WA_CL_CR_0140 .section-04 .limit-info .box-car-info .car-info-list{margin-top:0 !important;}
.WA_CL_CR_0140 .section-04 .limit-info .box-car-info .car-info-list + .title-small{margin-top:0;border-top:1px solid #eee;}
.WA_CL_CR_0140 .section-04 .box-car-info .car-info-list {border: 0; padding: 0; margin: 0;}

.WA_CL_CR_0140 .section-05 .limit-info .box-car-info{margin-top:7.2rem;}
.WA_CL_CR_0140 .section-05 .limit-info .box-car-info .title-small{padding-top:2.4rem; margin-bottom: 1.6rem;}
.WA_CL_CR_0140 .section-05 .limit-info .box-car-info .car-info-list{margin-top:0 !important; border-top: 1px solid #eee; }
.WA_CL_CR_0140 .section-05 .limit-info .box-car-info .car-info-list + .title-small{margin-top:0;border-top:1px solid #eee;}
.WA_CL_CR_0140 .section-05 .box-car-info .car-info-list {border: 0; padding: 1.6rem 0 2rem; margin: 0;}

/* WA_CL_CR_0190 */
.WA_CL_CR_0190 .btn-area {display: block;}
.WA_CL_CR_0190 .btn-area.content {margin-top: 1.3rem;}
.WA_CL_CR_0190 .btn-area.content > *+* {margin: 0;}
.WA_CL_CR_0190 .btn-area.content button:nth-child(2) {margin-top: 1.2rem;}
.WA_CL_CR_0190 .btn-area.content button span{line-height: 2.6rem;}

/* WA_CL_CR_0195 */
.WA_CL_CR_0195 .complete-box .text em{position:relative;font-weight:400;}
.WA_CL_CR_0195 .complete-box .text em:before{content:'';display:inline-block;margin:-0.2rem 0.8rem 0 0.5rem;width:1px;height:0.8rem;vertical-align:middle;background-color:#bbbcbc;}
.WA_CL_CR_0195 .tit-box{position:relative;padding-left:0.8rem;}
.WA_CL_CR_0195 .tit-box:before{position:absolute;top:50%;margin-top:-0.8rem;left:0;content:'';display:block;width:0.3rem;height:1.6rem;background-color:#ffb517;}
.WA_CL_CR_0195 .tit-box h5{display:inline-block;font-size:1.6rem;font-weight:700;color:#333;}
.WA_CL_CR_0195 .tit-box span{display:inline-block;padding-left:0.6rem;font-size:1.4rem;font-weight:400;color:#333;}
.WA_CL_CR_0195 .type-between{margin-top:1.6rem;padding:1.6rem 0;border-top:1px solid #eee;border-bottom:1px solid #eee;}
.WA_CL_CR_0195 .type-between li{padding-bottom:1.2rem;}
.WA_CL_CR_0195 .type-between  + .txt-icon{margin-top:0.8rem;}

/* WA_CL_CR_0230 */
.WA_CL_CR_0230 .box-car-info .car-info-wrap.small{padding-top:4.8rem;}
.WA_CL_CR_0230 .title-sub{padding-top:1rem;}
.WA_CL_CR_0230 .limit-info .text-caption{padding-top:0.8rem;}

/* WA_CL_CR_0390 */
.WA_CL_CR_0390 .box-car-info .title-sub2 {position: relative; display: inline-block; color: #000; font-weight: 400; text-align: center; padding-top: 2.4rem; z-index: 1; }
.WA_CL_CR_0390 .box-car-info .title-sub2::after{position: absolute; bottom: 0; left: 0; content: ''; display: block; width: 100%; height: 0.8rem; background-color: #ffcc33; z-index: -1;}
.WA_CL_CR_0390 .content-body {margin-top: -1.6rem;}
.WA_CL_CR_0390 .limit-info .box-car-info .title-02 {font-weight: 700;}
.WA_CL_CR_0390 .limit-info .box-car-info .text-body {font-weight: 400;}
.WA_CL_CR_0390 .limit-info .box-car-info .txt-info {font-weight: 400;}
.WA_CL_CR_0390 .limit-info .box-car-info .tit-wrap {font-weight: 400;}
.WA_CL_CR_0390 .txt-sub {font-family:"RenaultSamsungMotors"; font-weight: 400;}
.WA_CL_CR_0390 .box-car-info .car-info-list{padding:0 1.6rem;}

/* WA_CL_CR_0391 */
.WA_CL_CR_0391 .limit-info .box-car-info{margin-top:4rem;}
.WA_CL_CR_0391 .limit-info .box-car-info .title-small{margin:0 1.6rem;padding:1.6rem 0;border-bottom:1px solid #eee;}
.WA_CL_CR_0391 .limit-info .box-car-info .car-info-list{margin-top:0 !important;}

/* // WA_CL_CR */
/* A_CL_LO */
/* A_CL_LO_0071 */
.A_CL_LO_0071 .title-small{font-size:2.2rem;font-weight:400;}
.A_CL_LO_0071 .txt-icon {margin-top:1.6rem !important; margin-bottom:3.2rem; padding: 0.7rem 0 0.8rem 3.2rem; background-color: #eee;}
.A_CL_LO_0071 .txt-icon:before {top: 0.6rem; left: 0.8rem;}
.A_CL_LO_0071 .tit-txt-wrap {padding-right: 2.1rem;}
.A_CL_LO_0071 .tit-txt-wrap h4 {margin-top: 2.4rem; margin-bottom:0.8rem; color:#333; font-size:1.6rem; }

/* A_CL_LO_0090 */
.A_CL_LO_0090 .title-big {margin-top: 3.2rem;}

/* A_CL_LO_0091 */
.A_CL_LO_0091 .title-big {margin-top: 1.6rem;}

/* A_CL_LO_0092 */
.A_CL_LO_0092 .title-big {margin-top: 1.6rem;}

/* A_CL_LO_0330 */
.A_CL_LO_0330 .btn-area.content {display: block; text-align: center; margin-top: 1.6rem;}
.A_CL_LO_0330 .btn-area.content button {width: 15.2rem; border-radius: 0.2rem; font-size: 1.6rem; font-weight: 400;}
.A_CL_LO_0330 .complete-box {padding: 2.5rem 0 0 0;}
.A_CL_LO_0330 .title-big {margin-top: 1.6rem;}

/* A_CL_CC_0010 */
.A_CL_CC_0010 .complete-box{padding:8rem 0;}
.A_CL_CC_0010 .complete-box .icon img{width:3.2rem;}
.A_CL_CC_0010 .complete-box .tit{margin-top:0.8rem;line-height:2.2rem;color:#bbbcbc;font-size:1.4rem;}

/* A_CL_CC_0020 */
.A_CL_CC_0020 .title-big {margin-top: 2.4rem; line-height: 3rem; font-weight: 400; word-break: keep-all;}
.A_CL_CC_0020 .form-comp-wrap {margin-top: 3.2rem;}
.A_CL_CC_0020 .form-comp-wrap ul.form-info-wrap li .info-wrap .form-select input {text-align: left;}
.A_CL_CC_0020 .list-step{margin:2.4rem -3.2rem 0;}
.A_CL_CC_0020 .list-step li + li:before{top:50%;left:3rem;transform:translateY(-50%);}
.A_CL_CC_0020 .list-step li + li:after{content:'공인인증서 복사';position:absolute;top:50%;left:-5rem;color:#888b8d;font-size:1.2rem;transform:translateY(-50%);}
.A_CL_CC_0020 .form-wrap input{font-family:"RenaultSamsungMotors"; font-weight:700;}
.A_CL_CC_0020 .txt-info{margin-top:0.8rem;}
.A_CL_CC_0020 .title-small.type2{padding-left:0.8rem;}
.A_CL_CC_0020 .title-small.type2:before{position:absolute;top:50%;margin-top:-0.8rem;left:0;content:'';display:block;width:0.3rem;height:1.6rem;background-color:#ffb517;}
.A_CL_CC_0020 .list-num-wrap{margin-top:2.4rem !important;}

/* A_CL_CC_0021 */
.A_CL_CC_0021 .form-wrap.password-box .title-small {line-height: 2.6rem;}

/* A_CL_MY_0010 */
.A_CL_MY_0010 .section-02{margin-top:0;}
.A_CL_MY_0010 .myrci-box{margin-top:1.2rem;padding-bottom:2.4rem;border-bottom:1px solid #ddd;}
.A_CL_MY_0010 .myrci-box .text-center{line-height:2.6rem;color:#53565a;font-size:1.6rem;text-align:center;}
.A_CL_MY_0010 .complete-box {padding: 1.6rem 0 2rem 0;}
.A_CL_MY_0010 .complete-box .icon a {position:relative; display: block; margin: 0 auto; width: 6.4rem;}
.A_CL_MY_0010 .complete-box .icon a img {width: 100%;}
.A_CL_MY_0010 .complete-box.error {padding: 4rem 0;}
.A_CL_MY_0010 .complete-box.error .icon img {width: 3.2rem;}
.A_CL_MY_0010 .complete-box.error .text {font-size: 1.4rem; line-height: 2.2rem; margin-top: 0.8rem;}
.A_CL_MY_0010 .complete-box .tit {margin-top: 1.2rem; line-height: 1.9rem; font-size: 1.8rem; }
.A_CL_MY_0010 .complete-box .text {margin-top: 0.4rem; font-size: 1.2rem; line-height: 1.8rem; color: #bbbcbc;}
.A_CL_MY_0010 .title-small {line-height: 2.6rem;}

/* car-list2-wrap */
.car-list2-wrap{}
.car-list2-wrap li{padding:2.4rem 0; border-bottom:1px solid #ddd;}
.car-list2-wrap li:first-child{padding-top:1.6rem;}
.car-list2-wrap li:last-child{padding-bottom:3.2rem;}
.car-list2-wrap li .top-box{position:relative; padding-left:12.8rem;}
.car-list2-wrap li .top-box .img-wrap{position:absolute; top:0; left:0; display:block; width:12rem; height:7rem;}
.car-list2-wrap li .top-box .img-wrap img{width:100%;}
.car-list2-wrap li .top-box .txt-wrap{}
.car-list2-wrap li .top-box .txt-wrap .name-wrap{font-family:'RenaultSamsungMotors';}
.car-list2-wrap li .top-box .txt-wrap .name-wrap strong{color:#333; font-size:1.6rem;  font-weight:700;}
.car-list2-wrap li .top-box .txt-wrap .name-wrap span{margin-left:0.5rem; color:#333; font-size:1.4rem;  font-weight:400;}
.car-list2-wrap li .top-box .txt-wrap .num{display:inline-block; margin-top:1rem; padding:3px 5px;  font-size:1.1rem; color:#888b8d; border:1px solid #888b8d; border-radius:0.3rem; }

.car-list2-wrap li .btn-area{margin-top:2.4rem;}
.car-list2-wrap li .btn-area button{position: relative;width:100%; line-height: 4.8rem;font-size: 1.4rem;font-family: "NotoSansKR";font-weight: 500;color: #000; border: 1px solid #53565a; border-radius:0.2rem;}



/* WA_CL_MY_0020 */
.WA_CL_MY_0020 .box-gray-full{margin-top:-1.6rem;margin-bottom:2.4rem;}
.WA_CL_MY_0020 .txt-icon{margin-top:1.6rem;}
.WA_CL_MY_0020 .section-01 .btn-area.content{margin-top:1.6rem;}

/* WA_CL_MY_0021 */
.WA_CL_MY_0021 .box-gray-full{margin-top:-1.6rem;margin-bottom:2.4rem;}

/* WA_CL_MY_0030 */
.WA_CL_MY_0030 .txt-icon{margin-top:1.6rem;}
.WA_CL_MY_0030 .type-between li{padding-bottom:1.2rem;}

/* A_CL_MY_0050 */
.A_CL_MY_0050 .card-lookup > li .card-state .txt-wrap .tag{margin-left:0.5rem;}
.A_CL_MY_0050 .txt-icon{margin-top:1.2rem;}

/* A_CL_MY_0070 */
.A_CL_MY_0070 .table-wrap{overflow-x:auto;}
.A_CL_MY_0070 .table-wrap table{width:100%; max-width:120%;}
.A_CL_MY_0070 .table-wrap table colgroup col:first-child {width:5rem; }
.A_CL_MY_0070 .table-wrap table colgroup col:nth-child(2){width:8rem; }
.A_CL_MY_0070 .table-wrap table colgroup col:nth-child(3){width:8rem; }
.A_CL_MY_0070 .table-wrap table colgroup col:nth-child(4){width:8rem; }
.A_CL_MY_0070 .table-wrap table colgroup col:nth-child(5){width:8rem; }
.A_CL_MY_0070 .table-wrap table colgroup col:nth-child(6){width:8rem; }

.A_CL_MY_0070 .table-wrap table thead th {border-bottom: 1px solid #faf9f8;}

/* A_CL_MY_0100 */
.A_CL_MY_0100 .board-wrap .tit-wrap strong{color:#222; font-weight:700;}

/* A_CL_SL_0080 */
.A_CL_SL_0080 .title-small {margin-top: 7.2rem; line-height:3rem; font-size:2.2rem; font-weight: 400; text-align: center; }
.A_CL_SL_0080 .countdown-wrap {position:relative;text-align: center; width:14.4rem;height:14.4rem; margin: 3.8rem auto 0 !important; padding:4rem 0; border-radius:50%;background-color:#eee;}
.A_CL_SL_0080 .text-body {font-size: 3.6rem; line-height: 4rem;}
.A_CL_SL_0080 .text-brand {font-weight: 400; color: #222;}

/* WA_CL_CS_0050 */
.WA_CL_CS_0050 .title-small {margin-top: 2rem;}
.WA_CL_CS_0050 .form-comp-wrap ul.form-info-wrap li .only-select-wrap .form-select select.bold {font-weight: 700; color: #53565a;}

/* loans-img-box */
.loans-img-box.list-01{padding: 3.2rem 1.6rem 3.2rem 1.6rem; margin: -1.6rem -1.6rem 0; background: #f8f8f8 url(../images/common/img_cu_0070-1.png)no-repeat bottom right; background-size: contain; }
.loans-img-box .title-02 {line-height: 2.6rem; margin-bottom: 0.8rem;}
.loans-img-box .title-small .text {color: #222;}
.loans-img-box .title-small .text strong {font-weight: 700;}
.loans-img-box .tit-txt-wrap h4 {line-height: 2.4rem;}
.loans-img-box.list-02 { margin: -1.6rem -1.6rem 1.6rem; padding: 2.4rem 11.2rem 2.4rem 1.6rem; background: #f8f8f8 url(../images/common/img_cu_0080.png)no-repeat bottom right; background-size: contain; }
.loans-img-box.list-03 { margin: -1.6rem -1.6rem 1.6rem; padding: 2.4rem 11.2rem 2.4rem 1.6rem; background: #f8f8f8 url(../images/common/img_cu_0090.png)no-repeat bottom right; background-size: contain; }
.loans-img-box.list-04 { margin: -1.6rem -1.6rem 1.6rem; padding: 2.4rem 11.2rem 2.4rem 1.6rem; background: #f8f8f8 url(../images/common/img_cu_0100.png)no-repeat bottom right; background-size: contain; }
.loans-img-box.list-05 { margin: -1.6rem -1.6rem 1.6rem; padding: 2.4rem 11.2rem 2.4rem 1.6rem; background: #f8f8f8 url(../images/common/img_cu_0110.png)no-repeat bottom right; background-size: contain; }
.loans-img-box.list-06 {padding: 3.2rem 1.6rem 3.2rem 1.6rem;  margin: -1.6rem -1.6rem 0; background: #f8f8f8 url(../images/common/img_cu_0070.png)no-repeat bottom right; background-size: contain; }

/* A_CL_LO_0010 */
.A_CL_LO_0010 .bg-darkgray{margin:0 -1.6rem;padding:1.6rem 1.6rem 1.6rem 2.7rem; background-color:#faf9f8;}
.A_CL_LO_0010 .bg-darkgray h4{position:relative; margin:1.6rem 0 0.8rem 0; color:#53565a;font-size:1.4rem;font-weight:700;}
.A_CL_LO_0010 .bg-darkgray h4:before{position:absolute; top:50%; margin-top:-0.8rem; left:-1rem;content:'';display:block; width:3px; height:1.6rem; background-color:#ffb517;}
.A_CL_LO_0010 .bg-darkgray h4:first-child{margin-top:0;}
.A_CL_LO_0010 .bg-darkgray .list-bullet.small ul li{font-size:1.4rem;}
.A_CL_LO_0010 .txt-icon{margin-top:0.8rem;}
.A_CL_LO_0010 .txt-icon +.txt-icon{margin-top:0.4rem;}
.A_CL_LO_0010 .title-small{margin-top:2.4rem;}


/* A_CL_LO_0020 */
.A_CL_LO_0020 .form-comp-wrap {margin-top: 2.4rem;}
.A_CL_LO_0020 .form-comp-wrap p.txt-icon.mb-26 {margin-top: 2.6rem;}
.A_CL_LO_0020 .form-check.bg .text {line-height: 2.2rem;}
.A_CL_LO_0020 .txt-icon strong {font-weight: 700;}
.A_CL_LO_0020 .form-comp-wrap ul.form-info-wrap {margin-top: 2.4rem;}
.A_CL_LO_0020 .form-comp-wrap ul.form-info-wrap li .btn-wrap .btn-between {line-height: 2.2rem; color: #53565a;}
.A_CL_LO_0020 .form-comp-wrap ul.form-info-wrap li .btn-wrap .btn-between .tit {letter-spacing: -0.3px;}

/* WA_CL_CR_0025 */
.WA_CL_CR_0025 .title-sub2 {color: #53565a; margin-top: 1.6rem;}
.WA_CL_CR_0025 .list-caption {font-size: 1.4rem;line-height: 2.2rem;font-weight: 700;}
.WA_CL_CR_0025 .list-caption.list1 {font-weight: 400;}

/* WA_CL_ER_0010 */
.WA_CL_ER_0010 .complete-box .tit {margin-top: 3.2rem;}

/* A_CL_LO_0098 */
.A_CL_LO_0098 .title-small {margin-top: 1.6rem; color: #53565a;}
.A_CL_LO_0098 .list-bullet ul li {font-size: 1.4rem; line-height: 2.2rem;}
.A_CL_LO_0098 .list-bullet ul li:before {width: 0.3rem; height: 0.3rem;}
.A_CL_LO_0098 .top-bottom-box {margin: 0; padding:0 0 3.2rem 0; border-top: 0;}
.A_CL_LO_0098 .form-check {padding-left: 2.8rem;}
.A_CL_LO_0098 .text-field {line-height: 2.2rem; font-weight: 700; margin-top: 3.2rem;}
.A_CL_LO_0098 .agree-list.type2 ul li {margin-top: 1.2rem; padding-bottom: 0.8rem;}

/* A_CL_LO_0095 */
.A_CL_LO_0095 .title-sub2 {color: #53565a;}
.A_CL_LO_0095 .title-sub3 {font-weight: 700;}
.A_CL_LO_0095 .list-caption {font-size: 1.4rem; line-height: 2.2rem;}
.A_CL_LO_0095 .list-bullet ul li{margin-top:0;}
.A_CL_LO_0095 .list-bullet ul li:first-child {margin: 0;}
.A_CL_LO_0095 .list-bullet ul li:before {width: 0.3rem; height: 0.3rem;}
.A_CL_LO_0095 .txt-sub {font-size: 1.2rem;}
.A_CL_LO_0095 .txt-sub02 {font-weight: 500;}
.A_CL_LO_0095 .list-caption span {position: relative; padding-left: 1rem;}
.A_CL_LO_0095 .list-caption span::before {position: absolute; left: 0.3rem; top: 0.7rem; content: ''; display: inline-block; width: 0.1rem; height: 0.8rem; background-color: #bbbcbc;}

/* A_CL_LO_0057 */
.A_CL_LO_0057 .accordion.type-02 .btn .txt-bold {font-weight: 700;}

/* WA_CL_CR_0240 */
.WA_CL_CR_0240 .btn-area.content button {font-size: 1.6rem;}

/* W_OD_ME_0050 */
.W_OD_ME_0050 .black {font-size: 1.6rem; line-height: 2.6rem; color: #53565a; font-weight: 700; margin: 1.6rem 0;}
.W_OD_ME_0050 .list-number {margin-top: 0.8rem;}
.W_OD_ME_0050 .top-bottom-box {border-top: 0; padding: 0; margin: 2.4rem 0;} 
.W_OD_ME_0050 .list-number>ul>li {padding: 0.4rem 0;}

/* W_OD_ME_0060 */
.W_OD_ME_0060 .black {font-size: 1.6rem; line-height: 2.6rem; color: #53565a; font-weight: 700; margin: 1.6rem 0;}
.W_OD_ME_0060 .list-bullet ul li {word-break: normal;}

/* W_OD_ME_0065 */
.W_OD_ME_0065 .black {font-size: 1.6rem; line-height: 2.6rem; color: #53565a; font-weight: 700; margin: 1.6rem 0;}
.W_OD_ME_0065 .list-bullet ul li {word-break: normal;}

/* W_OD_ME_0010 */
.W_OD_ME_0010 .title-big {line-height: 3rem; margin-top: 2.4rem;}
.W_OD_ME_0010 .form-wrap.error .form-box input::placeholder {color: #53565a; font-weight: 700; font-size: 1.4rem; }
.W_OD_ME_0010 .mt-32 {margin-top: 3.2rem;}
.W_OD_ME_0010 .form-wrap + .form-wrap {margin-top: 2.4rem;}
.W_OD_ME_0010 .txt-icon.txt-info{margin-top:1.6rem;}
.W_OD_ME_0010 .txt-icon.txt-info + .txt-icon{margin-top:0.8rem;}


/* W_OD_ME_0015 */
.W_OD_ME_0015 .title-big {line-height: 3rem; margin-top: 2.4rem;}
.W_OD_ME_0015 .form-wrap.error .form-box input::placeholder {color: #53565a; font-weight: 700; font-size: 1.4rem; }
.W_OD_ME_0015 .mt-32 {margin-top: 3.2rem;}
.W_OD_ME_0015 .form-wrap + .form-wrap {margin-top: 2.4rem;}
.W_OD_ME_0015 .txt-icon.txt-info{margin-top:1.6rem;}
.W_OD_ME_0015 .txt-icon.txt-info + .txt-icon{margin-top:0.8rem;}

/* W_OD_ME_0020 */
.W_OD_ME_0020 .complete-box .tit {line-height:2.6rem;font-size:1.8rem;}
.W_OD_ME_0020 .complete-box .tit strong{display:block;margin-bottom:0.8rem;font-size:2.2rem;}
.W_OD_ME_0020 .complete-box .text{margin:0 auto;margin-top:1.6rem;width:21rem;}

/* W_OD_ME_0030 */
.W_OD_ME_0030 .section-02 .accordion-content{margin:0.6rem 0 0 0;}
.W_OD_ME_0030 .section-02 .accordion-content li{padding:0.3rem 0; line-height:2.2rem;}

/* WA_CL_CU_0130 */
.WA_CL_CU_0130 { background-color: #faf9f8; min-height: calc(100vh - 4.8rem);}
.WA_CL_CU_0130 .section-01 {margin: -1.6rem; padding: 1.6rem; background-color: #fff;}
.WA_CL_CU_0130 .tos-wrap {background: none;}
.WA_CL_CU_0130 .section-02 {margin-top: 2.4rem;}
.WA_CL_CU_0130 .tos-wrap .tit-wrap {padding: 2rem 0 1.6rem 0;}

/* W_OD_LO_0020 */
.W_OD_LO_0020 .title-big {margin-top: 2.4rem; font-weight: 400;}
.W_OD_LO_0020 .mt-32 {margin-top: 3.2rem;}
.W_OD_LO_0020 .form-comp-wrap ul.form-info-wrap li .forms-wrap .form-select{width:100%;}
.W_OD_LO_0020 .form-comp-wrap ul.form-info-wrap li input{font-weight: 700; color: #53565a;}

/* W_OD_LO_0030 */
.W_OD_LO_0030 .title-big {margin-top: 2.4rem; font-weight: 400;}
.W_OD_LO_0030 .type-between{margin-top:3.2rem;padding-top:1.6rem;border-top:1px solid #eee;}
.W_OD_LO_0030 .type-between li {padding-bottom:1.2rem;}
.W_OD_LO_0030 .type-between li div.tit-wrap .tit {color: #53565a;}

/* W_OD_LO_0040 */
.W_OD_LO_0040 .title-big {line-height: 3rem;}
.W_OD_LO_0040 .text {font-size: 1.4rem; line-height: 2.2rem; color: #888b8d; font-weight: 400; margin-bottom: 3.2rem;}
.W_OD_LO_0040 .form-comp-wrap ul.form-info-wrap li .forms-wrap .form-select{width:100%;}

/* W_OD_ME_0040_1 */
.popup-modal .popup-modal-content.W_OD_ME_0040_1 {background-color: #faf9f8;}
.W_OD_ME_0040_1 .black {font-size: 1.6rem; line-height: 2.6rem; color: #53565a; font-weight: 700;}
.W_OD_ME_0040_1 .text-field {color: #53565a;}
.W_OD_ME_0040_1 .top-bottom-box {border-top: 0; padding: 0; margin: 2.4rem 0;}
.W_OD_ME_0040_1 .bold {font-weight: 700;}
.W_OD_ME_0040_1 .list-number>ul>li h4 {font-weight: 400;}
.W_OD_ME_0040_1 .list-number>ul>li {padding: 0;}
.W_OD_ME_0040_1 .gray-wrap {padding: 2.4rem 1.6rem 2.4rem;}
.W_OD_ME_0040_1 .text-brand {font-size: 1.6rem;line-height: 2.4rem;color: #333; font-weight: 400;}
.W_OD_ME_0040_1 .text-brand.txt {color: #888b8d; }
.W_OD_ME_0040_1 .white-wrap {background-color: #fff; padding: 1.6rem; padding-bottom: 2.4rem;}
.W_OD_ME_0040_1 .section-01 {margin: -1.6rem;}

/* W_OD_ME_0050_1 */
.popup-modal .popup-modal-content.W_OD_ME_0050_1 {background-color: #faf9f8;}
.W_OD_ME_0050_1 .black {font-size: 1.6rem; line-height: 2.6rem; color: #53565a; font-weight: 700;}
.W_OD_ME_0050_1 .text-field {color: #53565a;}
.W_OD_ME_0050_1 .top-bottom-box {border-top: 0; padding: 0; margin: 2.4rem 0;}
.W_OD_ME_0050_1 .gray-wrap {padding: 2.4rem 1.6rem 2.4rem;}
.W_OD_ME_0050_1 .text-brand {font-size: 1.6rem;line-height: 2.4rem;color: #333; font-weight: 400;}
.W_OD_ME_0050_1 .text-brand.txt {color: #888b8d; }
.W_OD_ME_0050_1 .white-wrap {background-color: #fff; padding: 1.6rem; padding-bottom: 2.4rem;}
.W_OD_ME_0050_1 .section-01 {margin: -1.6rem;}

/* W_OD_ME_0060_1 */
.popup-modal .popup-modal-content.W_OD_ME_0060_1 {background-color: #faf9f8;}
.W_OD_ME_0060_1 .black {font-size: 1.6rem; line-height: 2.6rem; color: #53565a; font-weight: 700;}
.W_OD_ME_0060_1 .text-field {color: #53565a;}
.W_OD_ME_0060_1 .top-bottom-box {border-top: 0; padding: 0; margin: 2.4rem 0;}
.W_OD_ME_0060_1 .bold {font-weight: 700;}
.W_OD_ME_0060_1 .list-number>ul>li h4 {font-weight: 400;}
.W_OD_ME_0060_1 .list-number>ul>li {padding: 0;}
.W_OD_ME_0060_1 .gray-wrap {padding: 2.4rem 1.6rem 2.4rem;}
.W_OD_ME_0060_1 .text-brand {font-size: 1.6rem;line-height: 2.4rem;color: #333; font-weight: 400;}
.W_OD_ME_0060_1 .text-brand.txt {color: #888b8d; }
.W_OD_ME_0060_1 .white-wrap {background-color: #fff; padding: 1.6rem; padding-bottom: 2.4rem;}
.W_OD_ME_0060_1 .section-01 {margin: -1.6rem;}

/* 태블릿 대응 */
@media screen and (min-width: 768px) {
    .A_CL_MY_0010 .section-03 { position: fixed;left: 50%;bottom: 0;max-width:768px;transform:translateX(-50%)}
}