@charset 'utf-8';

/* RenaultSamsungMotors */

@font-face{
	font-weight:700;
	font-style:normal;
	font-family:"RenaultSamsungMotors";
	src:url('eot/RenaultSamsungMotorsBold.eot');
	src:url('eot/RenaultSamsungMotorsBold.eot?#iefix') format('embedded-opentype'),
	url('woff/RenaultSamsungMotorsBold.woff') format('woff');
}
@font-face{
	font-weight:400;
	font-style:normal;
	font-family:"RenaultSamsungMotors";
	src:url('eot/RenaultSamsungMotorsRegular.eot');
	src:url('eot/RenaultSamsungMotorsRegular.eot?#iefix') format('embedded-opentype'),
	url('woff/RenaultSamsungMotorsRegular.woff') format('woff');
}
@font-face{
	font-weight:300;
	font-style:normal;
	font-family:"RenaultSamsungMotors";
	src:url('eot/RenaultSamsungMotorsLight.eot');
	src:url('eot/RenaultSamsungMotorsLight.eot?#iefix') format('embedded-opentype'),
	url('woff/RenaultSamsungMotorsLight.woff') format('woff');
}

/* Renault */

@font-face{
	font-weight:700;
	font-style:normal;
	font-family:"RenaultLife";
	src:url('eot/RenaultLife-Bold.eot');
	src:url('eot/RenaultLife-Bold.eot?#iefix') format('embedded-opentype'),
	url('woff/RenaultLife-Bold.woff') format('woff');
}
@font-face{
	font-weight:400;
	font-style:normal;
	font-family:"RenaultLife";
	src:url('eot/RenaultLife-Regular.eot');
	src:url('eot/RenaultLife-Regular.eot?#iefix') format('embedded-opentype'),
	url('woff/RenaultLife-Regular.woff') format('woff');
}
@font-face{
	font-weight:300;
	font-style:normal;
	font-family:"RenaultLife";
	src:url('eot/RenaultLife-Light.eot');
	src:url('eot/RenaultLife-Light.eot?#iefix') format('embedded-opentype'),
	url('woff/RenaultLife-Light.woff') format('woff');
}

/* noto sans */

@font-face{
	font-weight:700;
	font-style:normal;
	font-family:"NotoSansKR";
	src:url('eot/NotoSansKR-Bold.eot');
	src:url('eot/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
	url('woff/NotoSansKR-Bold.woff') format('woff');
}
@font-face{
	font-weight:500;
	font-style:normal;
	font-family:"NotoSansKR";
	src:url('eot/NotoSansKR-Medium.eot');
	src:url('eot/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
	url('woff/NotoSansKR-Medium.woff') format('woff');
}
@font-face{
	font-weight:400;
	font-style:normal;
	font-family:"NotoSansKR";
	src:url('eot/NotoSansKR-Regular.eot');
	src:url('eot/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
	url('woff/NotoSansKR-Regular.woff') format('woff');
}
@font-face{
	font-weight:300;
	font-style:normal;
	font-family:"NotoSansKR";
	src:url('eot/NotoSansKR-Light.eot');
	src:url('eot/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
	url('woff/NotoSansKR-Light.woff') format('woff');
}

/* NanumGothic */

@font-face {
	font-weight:400;
	font-style:normal;
	font-family:"NanumGothic";
	src:url('eot/NanumGothic-Regular.eot');
	src:url('eot/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
	url('woff/NanumGothic-Regular.woff') format('woff');
}